<div class="card">
    <p-table #dt [value]="bookings" [(selection)]="selectedBookings" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0" [globalFilterFields]="['booking_id','travel_date']">
        <ng-template pTemplate="header">
            <tr>
                <th>Select</th>
                <th pSortableColumn="Booking Id">Booking Id <p-sortIcon field="booking_id"></p-sortIcon></th>
                <th pSortableColumn="Source">Source <p-sortIcon field="src_location"></p-sortIcon></th>
                <th pSortableColumn="Destination">Destination <p-sortIcon field="dest_location"></p-sortIcon></th>
                <th pSortableColumn="Class">Class <p-sortIcon field="class"></p-sortIcon></th>
                <th pSortableColumn="Travel Date">Travel Date <p-sortIcon field="travel_date"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking>
            <tr class="p-selectable-row">
                <td>
                    <p-checkbox [value]="booking" (onChange)="selectedBooking(booking)"></p-checkbox>
                </td>
                <td>
                    {{booking.booking_id}}
                </td>
                <td>
                    {{booking.src_location}}
                </td>
                <td>
                    {{booking.dest_location}}
                </td>
                <td>
                    {{booking.class}}                </td>
                <td>
                    {{booking.travel_date}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No Bookings found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div>
    <button (click)="cancelBooings()">Cancel Selected Bookings</button>
</div>
